body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.title{
    color: #54bd95;
    font-weight: bold;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    margin-left: 160px;
    margin-top: 30px;
}

.nav{
    margin-top: 100px;
    margin-left: 418px;
}

.nav a{
    padding: 15px;
    color: grey;
    font-family: sans-serif;
}

.nav .active{
    color: black;
}

.login{
    margin-left: 200px;
    margin-top: 100px;
}

.login a{
    padding: 15px;
    font-family: sans-serif;
    color: gray;
}


.login .register{
    background-color: #54bd95;
    color: white;
    border-radius: 15px;
}

.main{
    display: flex;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text{
    margin-left: 200px;
}

.primary{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.subtitle{
    margin-top: 60px;
    font-family: sans-serif;
    font-size: 20px;
}

.butons{
    margin-top: 50px;
}

.butons a{
    padding: 15px;
    font-family: sans-serif;
    font-size: 20px;
}

.try{
    background-color: #54bd95;
    border-radius: 30px;
    color: white;
}

.demo i{
    padding: 10px;
}

.images-main{
    position: relative;
    margin-top: 70px;
    margin-left: 200px;
}

.primary img{
    height: 526px;
    width: 610px;
}

.collabs-container{
    margin-left: 180px;
    margin-top: 200px;
}

.title-c{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-right: 120px;
}

.collabs{
    margin-top: 50px;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.card{
    font-size: 30px;
    color: gray;
    font-weight: bolder;
}


.charact{
    display: flex;
    background-color: #f9f8fe;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.m1{
    margin-left: 200px;
}

.m1 h2{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 50px;
}

.m1 h4{
    color: gray;
}

.rating{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.rating span{
    font-weight: bold;
}


.rating h5{
    font-family: sans-serif;
    color: gray;
}

.m2{
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.s-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.icon{
    margin-top: 20px;
    background-color: white;
    padding: 20px;
}


.s-card h2{
    font-family: sans-serif;
    font-weight: bold;
}

.s-card h4{
    font-family: sans-serif;
    color: gray;
}
